.registro-formulario {
  margin: 50px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e28e48;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.registro-campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.registro-campo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.registro-campo input {
  padding: 10px;
  border: 1px solid #dbbc56;
  border-radius: 5px;
  font-size: 16px;
}

.registro-campo input:focus {
  outline: none;
  border-color: #6e8cd5;
  color: #2980b9;
}

.registro-campo input::placeholder {
  color: #5eb387;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.iniciar-sesion {
  font: 1em sans-serif;
  text-align: center;
  margin-top: 20px;
}

.iniciar-sesion a {
  color: #4caf50;
  text-decoration: none;
}

.iniciar-sesion a:hover {
  text-decoration: underline;
}

/*iniciar sesion formulario*/

.sesion-formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #e28e48;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.sesion-formulario h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.sesion-campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sesion-campo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.sesion-campo input::placeholder {
  color: #5eb387;
}

.sesion-campo input[type="text"],
.sesion-campo input[type="password"] {
  padding: 10px;
  border: 1px solid #dbbc56;
  border-radius: 5px;
  font-size: 16px;
}
.sesion-campo input:focus {
  outline: none;
  color: #2980b9;
  border-color: #2980b9;
}
.boton-sesion {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.boton-sesion:hover {
  background-color: #2980b9;
}
